<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokens</title>
</head>
<body>
    <div>
        <% if (token) { %>
            <p>Access Token: <%= token %> </p>
            <p>Refresh Token: <%=refresh %></p>
        <% } else { %>
            <a href="https://discord.com/oauth2/authorize?client_id=872415366503104543&redirect_uri=http%3A%2F%2Flocalhost%3A1234%2Fauth&response_type=code&scope=identify%20email%20guilds%20connections">Login</a>
        <% }%>
        
    </div>
</body>
</html>